[submodule "Site/ringsce-game"]
	path = Site/ringsce-game
	url = https://github.com/ringsce/ringsce-ui.git
[submodule "ringsce-editor"]
	path = ringsce-editor
	url = https://github.com/ringsce/ringsce-editor.git
[submodule "morpheus"]
	path = morpheus
	url = https://github.com/ringsce/morpheus.git
